.git
.gitignore
.idea
.vscode
node_modules
.bun
.bun-install-cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun.lockb

.next/cache
.next/trace
.next/types
.next/analyze
dist
out
coverage
cypress/videos
cypress/screenshots

.env
.env.*

Dockerfile.prod
deploy.ps1
